{
  "root": true,
  "globals": {
    "tGameKeyboard": true,
    "tWgm": true,
    "tGameMenu": true,
    "tGameRoutineMap": true,
    "tGameTitle": true,
    "tGameText": true,
    "tGameLog": true,
    "tGameMain": true,
    "tGameRefresh": true,
    "tGameOpening": true,
    "tGameSave": true,
    "tGameMap": true,
    "tGameData": true,
    "maginaiConfig": true,
    "LOADDATA": true,
    "maginai": true
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "camelcase": "warn"
  },
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "no-unused-vars": "off",
        "no-var": "off",
        "camelcase": "warn",
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-this-alias": "warn"
      }
    }
  ]
}
